* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: Barrio;
    src: url(fontes/Koulen-Regular.ttf)
}
@font-face {
    font-family: Capsuula;
    src: url(fontes/Capsuula.ttf)
}
@font-face {
    font-family: Secular;
    src: url(fontes/SecularOne-Regular.ttf)
}
@font-face {
    font-family: typewcond;
    src: url(fontes/typewcond_regular.otf);
}

body{
    background-image: url("../assets/img/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.fundo{
    background-image: url("../assets/img/academia2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.fundo2{
    background-image: url("../assets/img/academia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.fundo3{
    background-image: url("../assets/img/pesagem.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.corpoCc{
    font-size: 40px;
    padding: 130px;
    color: rgb(226, 189, 224);
    font-family: typewcond;
}
#corpoCc3 #b1{
    padding-top: 30px;
    padding-left: 30px;
}
#corpoCc3{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    background-color: rgb(185, 45, 143);
    color: #fff;
}
#auxB1{
    font-family: Capsuula;
}
#b2{
    display: none;
}
#corpoCc2{
    background-color: rgb(226, 189, 224);
    width: 100%;
    height: 400px;
    color: rgb(45, 4, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Capsuula;
    font-size: 50px;
}
#corpoCc2 input:focus{
    outline: 0;
    border: 1px solid rgb(94, 9, 58);
}
#corpoCc2 input{
    border-radius: 30px;
    border: none;
    font-size: 20px;
    width: 200px;
    padding: 10px;
}
 .fundo4{
    background-image: url("../assets/img/fundo4.jpg");
}
.menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
}
.item_menu {
    display: flex;
    width: 150%;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-content: flex-end;
    padding-bottom: 30px;
}
.link{
    font-family: Secular;
}
.link:hover { 
    color: rgb(243, 197, 239); 
    transition: 1.0s;
    opacity: 0.7;
}
.Fmenu:hover{
    color: rgb(243, 197, 239); 
    transition: 1.0s;
    opacity: 0.7;
}
.Fmenu{
    color: #fff;
    font-family: Secular;
}
.item_menu .destaque{
    border: 1px solid white;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
}
.pesquisar input {
    width: 140px;
    background-color: blueviolet;
    border: none;
    color: white;
}
.pesquisar img{
    padding-left: 10px;
    padding-top: 3px;
}
.pesquisar button:hover { 
    color: rgb(243, 197, 239); 
    transition: 1.0s;
    opacity: 0.7;
    cursor: pointer;
}
.pesquisar button{
    font-weight: 800;
    border: none;
    color: white;
    background-color: rgb(116, 21, 206);
    border-radius: 0px 20px 20px 0px;
}
.pesquisar input:focus {
    outline: 0;
}
.pesquisar{
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: blueviolet;
    border-radius: 20px;
}
.sup_pesquisar{
    padding-right: 25px;
    padding-bottom: 25px;
}
.link a{
    font-family: Secular;
}
a {
    text-decoration: none;
    color: white;
}
.imagem_menu{
    padding-top: 20px;
    display: flex;
    width: 100%;
    margin-left: 5%;
}
.menu .imagem_menu img{
    width: 130px;
    height: 110px;
}
.sup_footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(54, 8, 85);
    border-top: 1px solid white;
}
.footer ul{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.sup_footer .footer{
    background-color: rgb(54, 8, 85);
    width: 50%;
    height: 200px;
    margin-bottom: 0;
    color: white;
}
.img_footer img{
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 50px;
}
.img_footer{
    display: flex;
    padding-top: 45px;
    justify-content: space-evenly;
    width: 70%;
}
.sup_img_footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ladoA .msgC{
    padding-right: 0px;
    padding-top: 0px;
    color: rgb(64, 13, 80);;
    font-size: 30px;
    font-weight: 600;
}
.ladoA p{
    padding-right: 100px;
    padding-top: 30px;
    font-size: 15px;
    padding-right: 60px;
}
 .corpoC .ladoA{
    background-color: rgb(178, 93, 189);
    padding-left: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
 .corpoC .ladoB{
    background-color: rgb(64, 13, 80);
    width: 40%;
    height: 300px;

}
.ladoB input{
    padding: 8px;
}
.ladoB input::placeholder{
    color: rgb(85, 27, 68);    
}
.env{
    background-color: black;
    color: white;
    margin-top: 50px;
    font-weight: 700;
    margin-left: 6%;
}
.alturaa{
margin-left: 6%;
}
.ladoB p{
    padding: 30px;
    padding-top: 60px;
    font-size: 17px;
    font-weight: 600;
}
.corpo{
    color: white;
    font-family: Barrio;
    font-size: 45px;
    display: flex;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.calcT{
    color: white;
    font-size: 35px;
    font-family: typewcond;
    padding-top: 20px;
    text-align: center;
}
.calcT2{
    margin-left: 10%;
    text-align: left;
    padding-top: 100px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(251, 148, 255);
    font-family: Capsuula;
}
.calcT3{
    padding-top: 10px;
    margin-right: 10%;
    font-size: 20px;
    color: white;
}
.corpoC{
    padding-top: 40px;
    height: 250px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 100px;
}
.corpo_sup a{
    font-family: Secular;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.corpo .corpo_sup{
    width: 40%;
    margin-top: 80px;
    justify-content:space-around;
    display: flex;
    flex-direction: row;
}
.corpo_sup a:hover {
    transform: scale(1.1);
    transition: all 1.0s;
  }
  .Tfont:hover{
    color: rgb(243, 197, 239); 
    transition: 1.0s;
    opacity: 0.7;
  }
  .caixaL{
      width: 40%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
  }
  .caixaL b{
    padding-bottom: 70px;
    font-weight: 500;
  }
  .caixaL p{
    font-family: typewcond;
  }
  .caixaL input:hover{
      border: 0.1px solid rgb(143, 39, 134);
      transition: 0.8s;
  }
  .caixaL input:hover font{
      color:white;
  }
  .caixaL input{
    font-family: typewcond;
    margin-top: 30px;
    background-color: transparent;
    width: 40%;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 30px;
    border: solid 1px white;
  }
  .caixaL input::placeholder {
    color: white;
  }
  .caixaL input:focus{
      outline: 0;
  }
  .corpoL{
    color: white;
    font-family: Barrio;
    display: flex;
    justify-content: center;

    height: 500px;
    padding-bottom: 50px;
  }
  .caixaL button{
    margin-top: 30px;
    background-color: blueviolet;
    text-align: center;
    width: 45%;
    border: none;
    padding: 10px;
    font-family: typewcond;
    color: white;
    font-size: 15px;
    border-radius: 30px;
  }
  .caixaL button{
      cursor: pointer;
  }
  .caixaL a{
    font-size: 13px;
    padding-top: 30px;
    padding-left: 150px;
}